/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--border-btn: 1px solid rgb(36, 36, 36);
	--color-base-bg: rgb(240, 240, 240);
	--color-base-text: rgb(18, 18, 18);
	--color-btn-bg: rgb(220, 220, 220);
	--theme-name: "light";
	--img-height: 80rem;
	--img-width: 40rem;
	--img-offset:10rem;
	--logo-height: 6rem;
	--logo-width:6rem;
	--logo-border-width:590px;
	--form_margin_left:-35px;
	--form_margin_left_offset: 50px;
	--form-padding:5rem;
	--right-side-width: 1000px;
  }
  
  @media (prefers-color-scheme: dark) {
	:root {
	  --border-btn: 1px solid rgb(220, 220, 220);
	  --color-base-bg: rgb(18, 18, 18);
	  --color-base-text: rgb(240, 240, 240);
	  --color-btn-bg: rgb(36, 36, 36);
	  --theme-name: "dark";
	}
  }
  
  body {
	background-color: var(--color-base-bg);
	color: var(--color-base-text);
	display: flex;
	flex-direction: row;
  }

  header{
	margin: 0;
  }
  
  .container {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  p {
	font-size: 1.5rem;
  }
  
  .theme-name::after {
	content: var(--theme-name);
  }

body {
	font-family: Helvetica, sans-serif;
	text-align: center;
	padding-left: 10%;
	font-size: 50;
	}
	
	/* Styling the area of the slides */
	#slideshow {
	overflow: hidden;
	height: var(--img-height);
	width: var(--img-width);
	margin: 0 -50px;
	margin-top: 0px;
	}
	
	/* Style each of the sides
	with a fixed width and height */
	.slide {
	float: left;
	height: var(--img-height);
	width: var(--img-width);
	}
	
	/* Add animation to the slides */
	.slide-wrapper {
	
	/* Calculate the total width on the
	basis of number of slides */
	width: calc(var(--img-width) * 5);
	
	/* Specify the animation with the
	duration and speed */
	animation: slide 30s ease infinite;
	}
	
	/* Set the background color
	of each of the slides */
	.slide:nth-child(1) {
		background: red;

	}
	
	.slide:nth-child(2) {
		background: yellow;
	}
	
	.slide:nth-child(3) {
		background: orange;
	}
	
	.slide:nth-child(4) {
		background: green;
	}
	.slide:nth-child(5){
		background: rebeccapurple;
	}
	
	/* Define the animation
	for the slideshow */
	@keyframes slide {
	
	/* Calculate the margin-left for
	each of the slides */
	15% {
		margin-left: 0px;
	}
	
	30% {
		margin-left: calc(var(--img-width)  * -1);
	}
	
	45% {
		margin-left: calc(var(--img-width) * -2);
	}
	
	60% {
		margin-left: calc(var(--img-width)  * -3);
	}
	75% {
		margin-left: calc(var(--img-width)  * -4);
	}
	}

header #slideshow .logo-container {
	background-color: rgba(104, 94, 94, 0.397);
	width: var(--logo-border-width);
	overflow: hidden;
	padding-top: 1rem;
	padding-bottom: 1rem;
	position: absolute;
	animation: logo-slide 30s ease infinite;
	margin-top: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}


@keyframes logo-slide {
	
	/* Calculate the margin-left for
	each of the slides */
	15% {
		margin-left: 0px;
	}
	
	30% {
		margin-left: calc(var(--img-width) * 1);
	}
	
	45% {
		margin-left: calc(var(--img-width) * 2);
	}
	
	60% {
		margin-left: calc(var(--img-width) * 3);
	}
	75% {
		margin-left: calc(var(--img-width) * 4);
	}
}

.logo{
	text-align: center;
	color: black;	
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 48px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

main {
	padding-left: 10%;
	display: flex;
	flex-direction: column;
}



input {
	border: #E5E7EB;
	margin-bottom: 15px;
	padding: 5px;
	border-radius: 5px;
	width: 12rem;
	height: 1rem;
  }
  
  input:invalid {
	border-color: red;
  }
  
  input:valid {
	border-color: green;
  }

@media only screen and (max-width: 1700px	){
	:root{
	 --form-padding:0px;
	 --right-side-width: 900px;
	 --form_margin_left: -30px;
	}

	header #slideshow .logo-container {
		width: 33.1rem;
	}
	header{
		width: 30rem;
	}
	main{
		width: 60rem;
	}

}

@media only screen and (max-width: 1600px	){
	:root{
	 --form-padding:0px;
	 --right-side-width: 800px;
	 --form_margin_left:-30px;
	}

	header #slideshow .logo-container {
		width: 33.1rem;
	}
	header{
		width: 30rem;
	}
	main{
		width: 55rem;
	}
} 

@media only screen and (max-width: 1500px	){
	:root{
	 --form-padding:0px;
	 --right-side-width: 760px;
	 --form_margin_left: -30px;
	}

	header #slideshow .logo-container {
		width: 33.1rem;
	}
	header{
		width: 30rem;
	}
	main{
		width: 60rem;
	}

}

@media only screen and (max-width: 1400px	){
	:root{
	 --form-padding:0px;
	 --right-side-width: 760px;
	 --form_margin_left: -170px;
	}

	header #slideshow .logo-container {
		width: 33.1rem;
	}
	header{
		width: 30rem;
	}
	main{
		width: 55rem;
	}
	main .form_white{
		width: 55rem;
	}

	main .form_white .top-text{
		width: 40rem;
		margin-left: -250px;
	}
}

@media only screen and (max-width: 1300px	){
	:root{
	 --form-padding:0px;
	 --right-side-width: 730px;
	 --form_margin_left: -195px;
	}

	header #slideshow .logo-container {
		width: 33.1rem;
	}
	header{
		width: 30rem;
	}
	main{
		width: 55rem;
	}
	main .form_white{
		width: 55rem;
	}

	main .form_white .top-text{
		width: 35rem;
		margin-left: -330px;
	}
}

@media only screen and (max-width: 1200px	){
	:root{
	 --form-padding:0px;
	 --right-side-width: 730px;
	 --form_margin_left: -195px;
	}

	header #slideshow .logo-container {
		width: 33.1rem;
	}
	header{
		width: 30rem;
	}
	main{
		width: 55rem;
	}
	main .form_white{
		width: 55rem;
	}

	main .form_white .top-text{
		width: 30rem;
		margin-left: -400px;
	}
}

@media only screen and (max-width: 1100px	){
	:root{
	 --form-padding:0px;
	 --right-side-width: 730px;
	 --form_margin_left: -195px;
	}

	header #slideshow .logo-container {
		width: 33.1rem;
	}
	header{
		width: 30rem;
	}
	main{
		width: 55rem;
	}
	main .form_white{
		width: 55rem;
	}

	main .form_white .top-text{
		width: 25rem;
		margin-left: -500px;
	}
}

@media only screen and (max-width: 1000px	){
	:root{
		--form-padding:0px;
		--right-side-width: 41rem;
		--form_margin_left: -15px;
	   }
	   body{
		   display: flex;
		   flex-direction: column;
		   justify-content: center;
		   align-items: center;
	   }
   
	   header #slideshow .logo-container {
		   width: 40rem;
	   }
	   header{
		   width: 40rem;
		   height:30rem
	   }

	   main{
			width:40rem;
			margin-left:-20px;
	   }

	   main .form_white{
		width: 40rem;
	}

	main .form_white .top-text{
		width: 40rem;
		margin-left: 0px;
	}
}



@media only screen and (max-width: 600px	){
	:root{
		--form-padding:0px;
		--right-side-width: 38rem;
		--form_margin_left: 30px;
	   }
	   body{
		   display: flex;
		   flex-direction: column;
		   justify-content: center;
		   align-items: center;
	   }
   
	   header #slideshow .logo-container {
		   width: 40rem;
	   }
	   header{
		   width: 40rem;
		   height:30rem
	   }

	   main{
			width:40rem;
			margin-left:-20px;
	   }

	   main .form_white{
		width: 30rem;
	}

	main .form_white .top-text{
		width: 30rem;
		margin-left: 0px;
	}
}


main{
	background: white;
	background-color: antiquewhite;
	margin-right: 10%;
	overflow:visible;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-left: 2%;
}
main .form_white{
 	padding-top: 10rem;
	 display: flex;
	flex-direction: column;
	justify-content:flex-start;
	align-items: center;
	padding-left: 0%;
}
main .form_white .top-text{
	font-size: 30px;
	color: black;
	text-align: left;
	padding-bottom: 3rem;
}

main .form_white .form_input {
	display: flex;
	flex-direction: column;
	background-color: rgba(104, 94, 94, 0.397);
	margin-left: var(--form_margin_left);
	width: var(--right-side-width);
}

main .form_white .form_input form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: var(--right-side-width);
	padding-left: 3%;
	padding-top: 2%;
	
}
main .form_white .form_input .form_border{
	color: black;
}

main .form_white .form_input .submit_button{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
main .form_white .form_input .submit-button input{
	display: flex;
	width: 10rem;
	height:2.5rem;
	color: black;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bolder;
	font-size: 18px;
	border: #E5E7EB;
}

main .form_white .form_input .form_border{
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: space-between;
}

main .form_white .form_input .form_border .form_row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

main .form_white .form_input .form_border .form_row .fn_container{
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-right: var(--form-padding);
}

main .form_white .form_input .form_border .form_row .ln_container{
	display:flex;
	flex-direction: column;
	padding-right: var(--form-padding);
}

main .form_white .form_input .form_border .form_row .email_container{
	display:flex;
	flex-direction: column;
	padding-right: var(--form-padding);
}

main .form_white .form_input .form_border .form_row .phn_container{
	display:flex;
	flex-direction: column;
	padding-right: var(--form-padding);
}

main .form_white .form_input .form_border .form_row .pass_container{
	display:flex;
	flex-direction: column;
	padding-right: var(--form-padding);
}

main .form_white .form_input .form_border .form_row .pass_conf_container{
	display:flex;
	flex-direction: column;
	padding-right: var(--form-padding);
}




